<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ViZ-iT - My Visit Tracker</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->

  <!-- <link rel="stylesheet" type="text/css" href="resources/ThirdParty/bootstrap-3.2.0-dist/css/bootstrap.css"> -->
  <link rel="stylesheet" type="text/css" href="/resources/css/main.css">
  <link rel="stylesheet" type="text/css" href="/resources/css/app.css">
  
  <style type="text/css">
    .welcome {
      padding: 0px;
      margin: 0 0 20px 0;
      /* background-color: #CCC; */
    }
    .welcome h1{
      margin-top: 20px;
      
    }
    .container{
      padding-left: 0px;
    }
    a:focus {
        outline: none;
        outline: 0px auto -webkit-focus-ring-color;
        outline-offset: 0;
    }
    a:hover, a:focus {
        color: #f03434;
        text-decoration: none;
    }
    
    a {
        /* color: #337ab7; */
        text-decoration: none;
    }
  </style>
</head>
    
    